*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-color: white;
    color: white;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}
h1
{
    text-align: center;
    color:purple;
    margin: auto;
    margin-top: 40px;
    font-size: 50px;
    font-family: cursive;
    word-wrap: normal;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: 1s ease ;

}
h1:hover{
    word-spacing: -10px;
}


.counter
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: black;
   

   
}

.incDec{
    /* font-size: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 40px;
    color: purple;
    font-weight: 900;
    outline: 2px solid purple;
    width: 80px;height: 80px;
    border-radius: 50%;
    padding: 50px;
    margin: 50px;
    transition: 0.5s ease;
}
.incDec:hover
{
    background-color: purple;
    color: white;
}


.value 
{
    font-size: 300px;
    color: purple;
    border: 1px solid purple;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-content: center;
    user-select: none;
    cursor: text;
    transition: 0.3s ease;
    
}
.value:hover
{
    font-size: 150px;
    height: 300px;width: 300px;
    background-color: purple;
    color: white;
}
.incDecContainer{ 
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    font-size:60px;
    
}